# ------------------------------------
# 1. DEPENDÊNCIAS
# ------------------------------------
/node_modules
/.pnpm
/.yarn
/package-lock.json
/yarn.lock
/pnpm-lock.yaml

# ------------------------------------
# 2. DIRETÓRIOS E ARQUIVOS DE BUILD/OUTPUT
# ------------------------------------
.nuxt
/.output
/dist
/tmp

# ------------------------------------
# 3. PRISMA
# ------------------------------------
# Ignora todos os arquivos de banco de dados SQLite e seus arquivos de journal/cache
/prisma/*.db
/prisma/*.db-journal
/prisma/*.sqlite
/prisma/*.sqlite-journal

# ------------------------------------
# 4. AMBIENTE E CONFIGURAÇÃO SECRETA
# ------------------------------------
.env
.env.*.local
!.env.example

# ------------------------------------
# 5. DIRETÓRIOS DE CACHE
# ------------------------------------
/.vitepress/cache
/.vuepress/cache
/.eslintcache
/.cache

# ------------------------------------
# 6. ARQUIVOS DO SISTEMA E EDITORES
# ------------------------------------
.DS_Store 
Thumbs.db
.vscode
!.vscode/settings.json
!.vscode/extensions.json

server/scripts/createUser.ts
